@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

@media (prefers-color-scheme: dark) {
    @layer base {
        :root {
            --white-bg-rgb: 255, 255, 255;
        }
    }
}

div,
p,
h1,
h2,
h3,
h4 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.richtext > ul > li > p,
.richtext > ol > li > p {
    display: contents !important;
}

#mc_embed_signup input.mce_inline_error {
    border-color: #c81e1e !important;
}

#mc_embed_signup div.mce_inline_error {
    font-size: 14px;
    margin: 0 0 0 0 !important;
    padding: 5px 0px !important;
    background-color: transparent !important;
    font-weight: 400 !important;
    z-index: 1;
    color: #c81e1e !important;
}
#mce-error-response {
    font-size: 14px;
    color: #c81e1e !important;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #3379A9;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}